#containter
{
	width:100%;
	height:880px;
background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 27%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(27%, rgba(216,225,231,1)), color-stop(62%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 27%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 27%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 27%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 27%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}
.side
{
	font-family: 'Roboto', sans-serif;
	opacity:0.8;
	width:298px;
	margin-left:70px;
	height:100%;
	font: normal normal bold 39px/2 "Times New Roman", Times, serif;
	/*color: #2bc4ff;*/
	color:#0099FF;
	text-overflow: ellipsis;
	word-spacing: 1px;
	text-shadow: 4px 4px 7px rgba(0,0,0,0.5) ;
	border-radius: 25px 25px 25px 25px;
	border-left:1px solid #2bc4ff;
	border-right:1px solid #2bc4ff;
	text-align:center;
	height:870px;

}
.page
{
	position:relative;
	top:-900px;
	font-family: 'Roboto', sans-serif;
	margin-left:400px;
	padding-top:50px;
	width:800px;
	text-align:center;
	text-shadow: 4px 4px 6px rgba(0,0,0,0.5) ;
}
.page img
{
	width:200px;
	height:auto;
}
#tabel table, th, td {
	padding:10px;
}
#tabel 
{	
	position:absolute;
	top:350px;
	left:500px;
}

.side a:link {
    text-decoration: none;
}

.side a:visited {
    text-decoration: none;
}

.side a:hover {
    text-decoration: underline;
}

.side a:active {
    text-decoration: underline;
}

.side img
{
	width:50px;
	height:auto;
}


.CSS_slideshow {
    display: block;
    width: 600px;
    height: 425px;
    overflow: hidden;
    margin: 0 auto;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-space-collapse: trim-inner;
}
.CSS_slideshow[data-show-indicators="true"][data-indicators-position="in"] {
    -webkit-margin-after: -25px;
}
.CSS_slideshow[data-animation-style] {
	transition-timing-function: ease-in-out;
}
	/* Wrapper */
	.CSS_slideshow_wrapper {
		display: block;
		width: 600px;
		height: 400px;
		white-space: nowrap;
		position: relative;
		/* Styling */
		text-align: center;
		
	}
	.CSS_slideshow[data-animation-style] .CSS_slideshow_wrapper {
		transition-duration: inherit;
		transition-timing-function: inherit;
	}
		/* Indicators */
		.CSS_slideshow[data-show-indicators="true"] input {
            width: 10px;
            height: 10px;
            -ms-transform: scale(1);
            -moz-transform: scale(0.6);
			position: relative;
			top: calc(100% + 7px);
            -webkit-appearance: none;
            outline: none;
		}
        .CSS_slideshow[data-animation-style] input {
            transition-duration: inherit;
            transition-timing-function: inherit;
        }
		.CSS_slideshow[data-show-indicators="true"] input:checked {
            -ms-transform: scale(1.25);
            -moz-transform: scale(0.9);
		}
		.CSS_slideshow[data-show-indicators="true"] input:after {
		    content: '';
			display: block;
            position: absolute;
            left: 0;
            width: 8px;
            height: 8px;
            border: 1px solid;
            border-radius: 100%;
            cursor: pointer;
            transition-property: transform, background;
            transition-duration: inherit;
            transition-timing-function: inherit;
            z-index: 4;
		}
		.CSS_slideshow[data-show-indicators="true"][data-indicators-position="under"] input:after {
            top: -2px;
            background: rgba(0, 0, 0, 0);
            border-color: rgb(0, 0, 0);
		}
		.CSS_slideshow[data-show-indicators="true"][data-indicators-position="in"] input:after {
            top: -35px;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25), 0 0 2px rgba(0, 0, 0, 0.25);
            background: rgba(235, 235, 235, 0);
            border-color: rgb(235, 235, 235);
		}
		.CSS_slideshow[data-show-indicators="true"] input:checked:after {
		    transform: scale(1.25);
		}
		.CSS_slideshow[data-show-indicators="true"][data-indicators-position="under"] input:checked:after {
            background: rgb(0, 0, 0)
		}
		.CSS_slideshow[data-show-indicators="true"][data-indicators-position="in"] input:checked:after {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
            background: rgb(235, 235, 235);
		}
		.CSS_slideshow:not([data-show-indicators="true"]) input {
			display: none;
		}
		/* Slides */
		.CSS_slideshow label {
			display: inline-block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		}
		.CSS_slideshow[data-animation-style] label {
			transition-duration: inherit;
			transition-timing-function: inherit;
		}
		.CSS_slideshow[data-animation-style="slide"] label {
			transition-property: left;
		}
		.CSS_slideshow label img {
			width: 100%;
            height: 100%;
		}
		/* Slides on the left */
		.CSS_slideshow label {
			left: -100%;
		}
		/* Slides on the right */
		.CSS_slideshow input:checked ~ label {
			left: 100%;
		}
		/* Active slide */
		.CSS_slideshow input:checked + label {
			left: 0;
		}
			/* Prev/next arrows */
			.CSS_slideshow[data-show-buttons="true"] label:before,
			.CSS_slideshow[data-show-buttons="true"] label:after {
				display: block;
				position: absolute;
				width: 60px;
				height: 60px;
				top: calc((100% - 60px) / 2);
				/* Styling */
				background: rgb(235, 235, 235);
				font-size: 35px;
                font-weight: 800;
				font-family: Consolas;
				line-height: 56px;
				color: black;
				z-index: 1;
				cursor: pointer;
			}
			.CSS_slideshow[data-show-buttons="true"][data-animation-style] label:before,
			.CSS_slideshow[data-show-buttons="true"][data-animation-style] label:after {
				transition-duration: inherit;
				transition-timing-function: inherit;
			}
			.CSS_slideshow[data-show-buttons="true"][data-animation-style="slide"] label:before,
			.CSS_slideshow[data-show-buttons="true"][data-animation-style="slide"] label:after {
				transition-property: left, right;
			}
			.CSS_slideshow[data-show-buttons="true"] label:hover:before,
			.CSS_slideshow[data-show-buttons="true"] label:hover:after {
				/* Styling */
				background: rgb(245, 245, 245);
			}
			/* Slides on the left */
			.CSS_slideshow[data-show-buttons="true"] label:before {
				right: -100%;
                opacity: 0;
				/* Styling */
				content: '>'; /* next */
			}
			.CSS_slideshow[data-show-buttons="true"] label:after {
				left: 100%;
				opacity: 1;
				/* Styling */
				content: '<'; /* previous */
			}
			/* Slides on the right */
			.CSS_slideshow[data-show-buttons="true"] input:checked ~ label:before {
				right: 100%;
				opacity: 1;
			}
			.CSS_slideshow[data-show-buttons="true"] input:checked ~ label:after {
				left: -100%;
                opacity: 0;
				cursor: default;
			}
			/* Active slide */
			.CSS_slideshow[data-show-buttons="true"] input:checked + label:before {
				right: 0;
				opacity: 0;
				cursor: default;
			}
			.CSS_slideshow[data-show-buttons="true"] input:checked + label:after {
				left: 0;
			}
			/* Buttons positioning */
			.CSS_slideshow[data-show-buttons="true"] label:after {
				z-index: 3; /* move "previous" buttons forward... */
			}
			.CSS_slideshow[data-show-buttons="true"] input:checked ~ label:after {
				z-index: 1; /* ...except the one for an active slide */
			}
			.CSS_slideshow[data-show-buttons="true"] input:checked + label + input + label:before {
				z-index: 3; /* move "next" button one slide ahead forward... */
			}
			/* Wrap arrows */
			.CSS_slideshow[data-show-buttons="true"][data-show-wrap-buttons="true"] label:first-of-type:before,
			.CSS_slideshow[data-show-buttons="true"][data-show-wrap-buttons="true"] label:last-of-type:after {
				z-index: 2 !important;
				opacity: 1 !important;
				cursor: pointer !important;
				/* Styling */
                letter-spacing: -9px;
                text-align: left;
                padding-left: 14px;
                width: 46px;
			}
			.CSS_slideshow[data-show-buttons="true"][data-show-wrap-buttons="true"] label:first-of-type:before {
				content: '<<'; /* jump to first */
				right: 0 !important;
			}
			.CSS_slideshow[data-show-buttons="true"][data-show-wrap-buttons="true"] input:not(:checked) + label:first-of-type:before {
				right: -100% !important;
			}
			.CSS_slideshow[data-show-buttons="true"][data-show-wrap-buttons="true"] label:last-of-type:after {
				content: '>>'; /* jump to last */
				left: 0 !important;
			}
			.CSS_slideshow[data-show-buttons="true"][data-show-wrap-buttons="true"] input:not(:checked) + label:last-of-type:after {
				left: -100% !important;
			}